@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600&display=swap');

*,
*::after,
*::before,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    outline: none;

}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

body::-webkit-scrollbar {
    display: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip: auto;
}

h1 {
    line-height: 1;
}

section {
    height: 100vh;
    background: url(assets/bg2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.background {

    height: 100%;
    z-index: 1;
    background: url(assets/bg2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    max-width: 100vw;
}

/* 選單區域 */
.header-container li {
    /* display: flex; */
    justify-content: center;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.header-container li:last-child {
    padding-right: 0;
}

.header-container a {
    text-decoration: none;
    color: #fff;
}


.header-container {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: 80px repeat(4, 1fr) 80px;
    grid-template-rows: 100px 100px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}


.nav-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
}



#menu_div {
    display: none;
}

@media (min-width: 480px) and (max-width: 960px) {
    .header-container {
        grid-template-columns: 40px repeat(4, 1fr) 40px;
    }

    .nav-center {
        display: none;
    }

    .nav-right {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #menu_div {
        display: block;
    }

    .line {
        width: 16px;
        height: 16px;
        cursor: pointer;
        display: block;
        padding: 20px;
        position: relative;
        z-index: 3;
        /* top: 20px;
        right: 40px; */
    }

    .line .menu,
    .line .menu::before,
    .line .menu::after {
        background: #fff;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        transition: background ease .3s, top ease .3s .3s, transform ease .3s;
        width: 16px;
    }

    .line .menu {
        left: 18px;
        top: 27px;
    }

    .line .menu::before {
        top: -6px;
    }

    .line .menu::after {
        top: 6px;
    }

    #menu:checked+.line .menu {
        background: transparent;
    }

    #menu:checked+.line .menu::before {
        transform: rotate(45deg);
    }

    #menu:checked+.line .menu::after {
        transform: rotate(-45deg);
    }

    #menu:checked+.line .menu::before,
    #menu:checked+.line .menu::after {
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }

    #menu:checked~.menu-list {
        width: 100vw;
        top: 100px;
        backdrop-filter: blur(100px);
    }

    #menu:checked~.menu-list .menu-list-item {
        display: block;
        position: absolute;
        top: 0px;
        left: 40px;
        transition: all .6s;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        top: 100px;
        left: 0;
        z-index: 3;
        height: 100vh;
        background: transparent;
        color: #000;
        padding-top: 60px;
        position: fixed;
        /* overflow: hidden; */
        transition: all .6s;
    }

    .menu-list-item {
        display: none;
    }

    .menu-list a {
        color: #000;
    }

    input#menu {
        display: none;
    }

    ;
}

@media (max-width: 480px) {

    .header-container {
        grid-template-columns: 40px repeat(4, 1fr) 40px;
    }

    .nav-center {
        display: none;
    }

    .nav-right {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #menu_div {
        display: block;
    }

    .line {
        width: 16px;
        height: 16px;
        cursor: pointer;
        display: block;
        padding: 20px;
        position: relative;
        z-index: 3;
        /* top: 20px;
        right: 40px; */
    }

    .line .menu,
    .line .menu::before,
    .line .menu::after {
        background: #fff;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        transition: background ease .3s, top ease .3s .3s, transform ease .3s;
        width: 16px;
    }

    .line .menu {
        left: 18px;
        top: 27px;
    }

    .line .menu::before {
        top: -6px;
    }

    .line .menu::after {
        top: 6px;
    }

    #menu:checked+.line .menu {
        background: transparent;
    }

    #menu:checked+.line .menu::before {
        transform: rotate(45deg);
    }

    #menu:checked+.line .menu::after {
        transform: rotate(-45deg);
    }

    #menu:checked+.line .menu::before,
    #menu:checked+.line .menu::after {
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }

    #menu:checked~.menu-list {
        width: 100vw;
        top: 100px;
        backdrop-filter: blur(100px);
    }

    #menu:checked~.menu-list .menu-list-item {
        display: block;
        position: absolute;
        top: 0px;
        left: 40px;
        transition: all .6s;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        top: 100px;
        left: 0;
        z-index: 3;
        height: 100vh;
        background: transparent;
        color: #000;
        padding-top: 60px;
        position: fixed;
        /* overflow: hidden; */
        transition: all .6s;
    }

    .menu-list-item {
        display: none;
    }

    .menu-list a {
        color: #000;
    }

    input#menu {
        display: none;
    }

    ;

    .nav-right li.menu-item {
        display: none;
    }


}


/* Login 表單 */

.form-box {
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(15px);
    padding: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login-text {
    color: #fff;
    font-size: 2em;
}

.input-container {
    position: relative;
}


.input-container input {
    border-bottom: 2px solid #fff;
    padding: 15px 0 0 10px;
}

.align-input {
    width: 350px;
    height: 50px;
    border: 0;
    outline: none;
    background: transparent;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
    color: #fff;
}

.input-container ion-icon {
    color: #fff;
    position: absolute;
    top: 25px;
    right: 20px;
    /* left: 320px; */
}

.remember-me {
    margin-left: 5px;
}

.more-box {
    display: flex;
    justify-content: center;
    color: #fff;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.input-container input:focus~label,
.input-container input:valid~label {
    transform: translateY(-5px);
    color: #fff;
    transition: all 0.3s ease;
}

.input-container label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
}

.more-box a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.more-box a:hover {
    color: #fff;
    text-decoration: underline;
}

button.log-in {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 0;
}

.log-in-type {
    display: flex;
    align-content: center;
    justify-content: space-around;

}

.log-in-type button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.log-in-type-icon {
    margin-right: 3px;
    font-size: 1.1rem;
}

.section {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.contain {
    margin: 0 10%;
}

#bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg img {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 600px;
    object-fit: cover;
}

.header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.header h1 {
    font-size: 9rem;
}

.description {
    position: relative;
    top: 750px;
    font-size: 0.8rem;
    text-align: justify;
    color: white;
}

.text {
    font-size: 1.5rem;
    z-index: 4
}

.text-inline {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 40px;
}

.container {
    position: relative;
    top: -50px;
}

.img-container img {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50.5%, -50%);
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-47.5%, -80%);
    
}

.img-container img {
    max-width: 930px;
    z-index: 2;
}

.video-container video { 
    z-index: 1;
    max-width: 697px;
    object-fit: cover;
}

.media-scroller {
    position: relative;
    top: 10px;
    display: grid;
    width: 100%;
    grid-gap: 1em;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    overscroll-behavior-inline: contain;
    display: flex;
    animation: scrollLeft 10s linear infinite;
    z-index: 5;
    cursor: pointer;
}


.media-element {
    flex: 0 0 100%;
    max-width: 45%;
    gap: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.media-element > img,
.media-element > video {
    /* flex: 1; */
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;;
  
}

.media-scroller .media-element video:hover {
    box-shadow: 2px 4px 16px rgba(0,0,0,.16);
    transform: scale3d(1.01,1.01,1.01)
}

.section3-header {
    position: relative;
    left: 50%;
    top: -20px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.section3-header h1 {
    font-size: 6rem;
} 




@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-300%);
    }
}


@media (min-width: 960px) {
    .text {
        font-size: 1.5rem;
    }

}

@media (min-width: 480px) and (max-width: 960px) {
    .text {
        font-size: 0.8rem;
    }

    .img-container img {
        max-width: 618px;
    }

    .video-container video {
        max-width: 463px
    }

    .media-scroller {
        top: -100px;
    }

    .description {
        top: 600px;
    }

}

@media (max-width: 480px) {
    .header h1 {
        font-size: 8rem;
    }

    .text {
        display: table-cell;
        font-size: 0.8rem;
    }

    .img-container img {
        max-width: 100%;
    }

    .video-container video {
        max-width: 75%;
    }

    .media-scroller {
        top: -300px;
    }

    .section3-header {
        top: 0px;
    }
    
    .section3-header h1 {
        font-size: 6rem;
    } 

    .description {
        top: 750px;
    }


}

