@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 9rem;
}

section {
    height: 100vh;
    background: url(assets/bg2.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.background {
    height: 100%;
    background: url(assets/bg2.jpg)no-repeat;
    background-position: center;
    background-size: cover
}
/* 選單區域 */
.header-container li {
    /* display: flex; */
    justify-content: center;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.header-container li:last-child {
    padding-right: 0;
}

.header-container a {
    text-decoration: none;
    color: #fff;
}


.header-container {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: 80px repeat(4, 1fr) 80px;
    grid-template-rows: 100px 100px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}


.nav-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
}



#menu_div {
    display: none;
}

@media (min-width: 480px) and (max-width: 960px) {
    .header-container {
        grid-template-columns: 40px repeat(4, 1fr) 40px;
    }

    .nav-center {
        display: none;
    }

    .nav-right {
        position: absolute;
    top: 20px;
    right: 20px;
    }

    #menu_div {
        display: block;
    }

    .line {
        width: 16px;
        height: 16px;
        cursor: pointer;
        display: block;
        padding: 20px;
        position: relative;
        z-index: 3;
        /* top: 20px;
        right: 40px; */
    }

    .line .menu,
    .line .menu::before,
    .line .menu::after {
        background: #fff;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        transition: background ease .3s, top ease .3s .3s, transform ease .3s;
        width: 16px;
    }

    .line .menu {
        left: 18px;
        top: 27px;
    }

    .line .menu::before {
        top: -6px;
    }

    .line .menu::after {
        top: 6px;
    }

    #menu:checked + .line .menu {
        background: transparent;
    }

    #menu:checked + .line .menu::before {
        transform: rotate(45deg);
    }

    #menu:checked + .line .menu::after {
        transform: rotate(-45deg);
    }

    #menu:checked + .line .menu::before,
    #menu:checked + .line .menu::after  {
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }

    #menu:checked ~ .menu-list {
        width: 100vw;
        top: 100px;
        backdrop-filter: blur(15px);
    }

    #menu:checked ~ .menu-list .menu-list-item {
        display: block;
        position: absolute;
        top: 0px;
        left: 40px;
        transition: all .6s;
    }

    .menu-list {
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 0;
    z-index: 2;
    height: 100vh;
    background: transparent;
    color: #000;
    padding-top: 60px;
    position: fixed;
    overflow: hidden;
    transition: all .6s;
    }

    .menu-list-item {
        display: none;
    }

    .menu-list a {
        color: #000;
        }

    input#menu {
        display: none;
    };
}


/* Login 表單 */

.form-box {
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(15px);
    padding: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login-text {
    color: #fff;
    font-size: 2em;
}

.input-container {
    position: relative;
}


.input-container input {
    border-bottom: 2px solid #fff;
    padding: 15px 0 0 10px;
}

.align-input {
    width: 350px;
    height: 50px;
    border: 0;
    outline: none;
    background: transparent;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.input-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
    color: #fff;
}

.input-container ion-icon {
    color: #fff;
    position: absolute;
    top: 25px;
    right: 20px;
    /* left: 320px; */
}

.remember-me {
    margin-left: 5px;
}

.more-box {
    display: flex;
    justify-content: center;
    color: #fff;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.input-container input:focus~label,
.input-container input:valid~label {
    transform: translateY(-5px);
    color: #fff;
    transition: all 0.3s ease;
}

.input-container label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
}

.more-box a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.more-box a:hover {
    color: #fff;
    text-decoration: underline;
}

button.log-in {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 0;
}

.log-in-type {
    display: flex;
    align-content: center;
    justify-content: space-around;

}

.log-in-type button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.log-in-type-icon {
    margin-right: 3px;
    font-size: 1.1rem;
}

.section {
    min-height: 100px;
}

img {
    max-width: 100%;
}

img#bg {
    max-width: 600px;
}

.header {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}